.galaxy {
    width: 100vw;
    height: 100vh;
    background-image: url(../anh-anime-galaxy-phong-canh-tuyet-dep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ufo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 130px;
}